/* MOBILE */
@media (max-width: 767px) {
  .left-panel {
    position: fixed;
    z-index: 100;
    height: 100%;
    width: 50px;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    background: #fff;
    -webkit-transition: width 0.4s ease;
    -moz-transition: width 0.4s ease;
    -ms-transition: width 0.4s ease;
    -o-transition: width 0.4s ease;
    transition: width 0.4s ease;
  }

  .left-panel.collapse {
    height: 100%; 
    width: 50px;
  }
  
  .left-panel {
    max-height: 100%;
  }
  
  .left-panel .header-bar {
    background: #fff; 
  }
  
  .left-panel .header-bar .btn {
    color: #333; 
  }
  
  .left-panel .menu-bar a span {
    width: 80%; 
  }

  .left-panel #signedas {
    padding: 20px;
    height: 115px;
    overflow: hidden;
  }

  .left-panel.collapse #signedas {
    padding: 0;
    height: 40px;
  }

  .left-panel #signedas > span {
    font-size: 12px;
    white-space: nowrap;
  }

  .left-panel #signedas h4 {
    margin: 5px 0;
    white-space: nowrap;
  }

  .left-panel.collapse #signedas > span {
    display: none;
  }

  .left-panel.collapse #signedas h4 {
    display: none;
  }

  .left-panel #signedas .btn {
    margin-left: -25px;
    margin-bottom: -6px;
  }

  .left-panel #signedas .btn:focus,
  .left-panel #signedas .btn:active {
    color: #fff;
  }

  .left-panel.collapse #signedas .btn {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 12px 0;
  }

  .left-panel.collapse #signedas .btn i {
    width: 40px;
    font-size: 18px;
  }

  .left-panel.collapse #signedas .btn span {
    display: none;
  }

  
  
  .left-panel.collapse + .right-panel {
    padding-top: 40px;
    margin-left: 0;
  }
  
  .header-bar .brand-logo {
    position: fixed;
    top: 12px;
    /* left: 24px; */
    z-index: 100;
  }
  
  .right-panel {
    margin-left: 300px;
    -webkit-transition: margin-left 0.4s ease;
    -moz-transition: margin-left 0.4s ease;
    -ms-transition: margin-left 0.4s ease;
    -o-transition: margin-left 0.4s ease;
    transition: margin-left 0.4s ease;
  }

  .right-panel .header-bar {
    padding-left: 15px;
  }

  .left-panel.collapse + .right-panel {
      margin-left: 40px;
    }


    .right-panel .content {
      padding: 20px;
    }

    .right-panel .header-bar .btn-dark {
      color: #888;
    }
}