<legend>Data Agen</legend>

<a href="#tambah-agen" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Tambah
</a>

<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Nama Agen / Pemilik</th>
            <th>Alamat</th>
            <th>Telpon</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='agen in agens'>
            <td>{{$index+1}}</td>
            <td>{{agen.nama}}</td>
            <td>{{agen.alamat}}</td>
            <td>{{agen.telp}}</td>
            <td>
                <a href="#" class="btn btn-warning">
                    <i class="glyphicon glyphicon-edit"></i>
                    Ubah
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Hapus
                </a>
            </td>
        </tr>
    </tbody>
</table>