<legend>Detail Info Trayek</legend>

<a href="#tambah-detail-info-trayek" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Tambah
</a>

<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Seri</th>
            <th>Kode Trayek</th>
            <th>Fasilitas</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='detail in details'>
            <td>{{$index+1}}</td>
            <td><strong>{{detail.seri}}</strong> <br> {{detail.subseri}}</td>
            <td>{{detail.kode}} <strong>{{detail.trayek}}</strong></td>
            <td><strong>{{detail.fasilitasbus}}</strong> <br> <strong>{{detail.fasilitasservice}}</strong></td>
            <td>
                <a href="#" class="btn btn-warning">
                    <i class="glyphicon glyphicon-edit"></i>
                    Ubah
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Hapus
                </a>
            </td>
        </tr>
    </tbody>
</table>