<legend>Informasi Trayek</legend>

<a href="#tambah-info-trayek" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Tambah
</a>

<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Seri</th>
            <th>Lintasa Trayek</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="trayek in trayeks">
            <td>{{$index+1}}</td>
            <td>{{trayek.seri}}</td>
            <td><strong>{{trayek.lintasan}}</strong> <br>{{trayek.subtrayek}}</td>
            <td>
                <a href="#tambah-info-trayek" class="btn btn-warning">
                    <i class="glyphicon glyphicon-check"></i>
                    Ubah
                </a>
            </td>
            <td>
                <a href="#" class="btn btn-danger">
                    <i class="glyphicon glyphicon-trash"></i>
                    Hapus
                </a>
            </td>
        </tr>
    </tbody>
</table>