<legend>Penumpang Terdaftar</legend>

<input type="text" ng-model="cari" class="form-control">

<table class="table table">
		<thead>
			<tr>
				<th>No.</th>
				<th>Jadwal</th>
				<th>Channel</th>
				<th>Tgl Booking</th>
				<th>Total</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="d in data|filter:cari">
				<td>{{d.nis}}</td>
				<td>{{d.nisn}}</td>
				<td>{{d.nama}}</td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
</table>