<legend>Profile PO</legend>

<style>
    .form-radio{margin-top:15px;}
    .labelku{text-align:left;margin-left:15px;}
</style>

<form>
    <div class="row">
        <!-- col lg 6-->
        <div class="col-lg-6">
            <div class="form-group">
                <label for="">Nama PO</label>
                <input type="text" name="nama" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Alamat Kantor Pusat</label>
                <textarea name="alamat" id="alamat" cols="30" rows="10" class="form-control"></textarea>
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="email" class="form-control">
            </div>
        </div>
        <!-- end col-lg-6 -->
    
        <!-- col-lg-6 kedua-->
        <div class="col-lg-6">
            <div class="form-group">
                <label for="">No. Telp</label>
                <input type="text" name="telp" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Fax</label>
                <input type="text" name="fax" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Logo</label>
                <input type="file" name="logo" class="form-control">
            </div>
        </div>
        <!-- end col-lg-6 kedua-->
    </div>

    <hr>

    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label for="">Nama Pimpinan</label>
                <input type="text" name="pimpinan" class="form-control">
            </div>

            <div class="form-group">
                <label for="">Email</label>
                <input type="email" name="pimpinan" class="form-control">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label for="">No. Ponsel 1</label>
                <input type="text" name="ponsel1" class="form-control">
            </div>

            <div class="form-group">
                <label for="">No. Ponsel 2</label>
                <input type="text" name="ponsel2" class="form-control">
            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="form-horizontal">
            <div class="form-group">
                <label for="" class="control-label col-lg-4 labelku" style="text-align:left;">Hubungan PO dengan Agen</label>

                <div class="col-lg-3 form-radio">
                    <input type="radio" name="hubungan"> Langsung
                </div>
                <div class="col-lg-3 form-radio">
                    <input type="radio" name="hubungan"> Pengurus
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-lg-4 labelku" style="text-align:left;">Boleh Menjual Lintasan Trayek Lain</label>

                <div class="col-lg-3 form-radio">
                    <input type="radio"> Ya
                </div>
                <div class="col-lg-3 form-radio">
                    <input type="radio"> Tidak
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-lg-4 labelku" style="text-align:left;">Quota Per Agen</label>

                <div class="col-lg-3 form-radio">
                    <input type="radio"> Ya
                </div>
                <div class="col-lg-3 form-radio">
                    <input type="radio"> Tidak
                </div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-lg-4 labelku" style="text-align:left;">Sistem Komisi Per Tiket</label>

                <div class="col-lg-3 form-radio">
                    <input type="radio"> <input type="text"> %
                </div>
                <div class="col-lg-3 form-radio">
                    <input type="radio"> Rp. <input type="text">
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="form-group well">
        <button class="btn btn-primary">
            <i class="glyphicon glyphicon-check"></i> Simpan
        </button>

        <a href="#" class="btn btn-default">
            <i class="glyphicon glyphicon-minus-sign"></i>
            Batal
        </a>
    </div>
</form>