<legend>Rencana Jadwal Pelayanan</legend>

<a href="#tambah-rencana" class="btn btn-primary">
    <i class="glyphicon glyphicon-plus"></i>
    Tambah
</a>

<hr>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>No.</th>
            <th>Tgl</th>
            <th>Kode Trayek</th>
            <th>Lokasi Keberangkatan</th>
            <th>Waktu Berangkat</th>
            <th>Harga Pokok</th>
            <th>Komisi Agen</th>
            <th>Total Harga</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat='ren in rencana'>
            <td>{{$index+1}}</td>
            <td>{{ren.tgl}}</td>
            <td>{{ren.kode}}</td>
            <td>{{ren.lokasi}}</td>
            <td>{{ren.waktu}}</td>
            <td>{{ren.harga}}</td>
            <td>{{ren.komisi}}</td>
            <td>{{ren.total}}</td>
        </tr>
    </tbody>
</table>