<legend>Tambah Rencana Jadwal Pelayanan</legend>

<div class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Pilih Trayek</label>
        <div class="col-lg-5">
            <select name="trayek" id="trayek" class="form-control">
                <option value="">L ( Semin-Wonosari-Ciledug )</option>
            </select>
        </div>
        <div class="col-lg-5">MLL-001,MLL-002,MLL-003,MLL-004</div>
    </div>

    <div class="form-group">
        <label for="Asal" class="col-lg-2 control-label">Asal</label>
        <div class="col-lg-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="Asal" class="col-lg-2 control-label">Tujuan</label>
        <div class="col-lg-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="Asal" class="col-lg-2 control-label">Dari Tanggal</label>
        <div class="col-lg-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="Asal" class="col-lg-2 control-label">Sampai Tanggal</label>
        <div class="col-lg-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="pull pull-right">
        <a href="#" class="btn btn-primary">
            <i class="glyphicon glyphicon-plus"></i>
            Tambah
        </a>
    </div>
    <div style="clear:both;"></div>
    <hr>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>No.</th>
                <th>Kode Trayek</th>
                <th>Lokasi Keberangkatan</th>
                <th>Waktu Keberangkatan</th>
                <th>Perkiraan Waktu Perjalanan</th>
                <th>Harga Pokok</th>
                <th>Komisi Agen</th>
                <th>Total Harga</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='ren in rencana'>
                <td>{{$index+1}}</td>
                <td>{{ren.tgl}}</td>
                <td>{{ren.kode}}</td>
                <td>{{ren.lokasi}}</td>
                <td>{{ren.waktu}}</td>
                <td>{{ren.harga}}</td>
                <td>{{ren.komisi}}</td>
                <td>{{ren.total}}</td>
            </tr>
        </tbody>
    </table>
</div>