<legend>Tambah Info Trayek</legend>

<div class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Seri</label>
        <div class="col-lg-8">
            <input type="text" name="seri" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Keterangan</label>
        <div class="col-lg-8">
            <input type="text" name="keterangan" class="form-control">
        </div>
    </div>

    <table class="table table-bordere">
        <thead>
            <tr>
                <th colspan="3"><strong>Lintasan Trayek</strong></th>
            </tr>
            <tr>
                <th>No.</th>
                <th>Kota</th>
                <th>Sub Kota</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='lintasan in lintasans'>
                <td>{{$index+1}}</td>
                <td>{{lintasan.kota}}</td>
                <td>{{lintasan.subkota}}</td>
            </tr>
        </tbody>
    </table>
</div>