<legend>Detail Info Trayek</legend>

<div class="form-horizontal">
    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Kode Trayek</label>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
        <div class="col-lg-6">
            <strong>MLL-001 <br> Semin-Wonosari-Tangerang</strong>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Kelas</label>
        <div class="col-lg-6">
            <select name="kelas" id="kelsa" class="form-control">
                <option value="">--Pilih Kelas--</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Sub Kelas</label>
        <div class="col-lg-6">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Jumlah Seats</label>
        <div class="col-lg-3">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label for="" class="col-lg-2 control-label">Layout</label>
        <div class="col-lg-5">
            <input type="text" class="form-control">
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <fieldset>Fasilitas BUS</fieldset> <hr>
            <div class="row">
                <div class="col-lg-6">
                    <input type="checkbox"> AC ( Air Conditioner ) <br>

                    <input type="checkbox"> Recleaning Seats <br>

                    <input type="checkbox"> Foot Rest <br>

                    <input type="checkbox"> Leg Rest <br>

                    <input type="checkbox"> Smoking Area <br>
                </div>

                <div class="col-lg-6">
                    <input type="checkbox"> Toilet <br>

                    <input type="checkbox"> Video <br>

                    <input type="checkbox"> Audio <br>

                    <input type="checkbox"> Wifi Hotspot
                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <fieldset>Fasilitas Layanan</fieldset> <hr>

            <input type="checkbox"> Air Mineral <br>

            <input type="checkbox"> Snack <br>

            <input type="checkbox"> Voucher Makan <br>

            <input type="checkbox"> Selimut <br>

            <input type="checkbox"> Bantal <br>
        </div>
    </div>
    <hr>
    <div class="well">
        <button class="btn btn-primary">
            <i class="glyphicon glyphicon-check"></i>
            Simpan
        </button>

        <a href="#" class="btn btn-danger">
            Batal
        </a>
    </div>
</div>