<legend>Tambah Agen</legend>

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-lg-3 control-label">Kode Agen</div>
        <div class="col-lg-6">
            <input type="text" name="kode" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Nama Agen</div>
        <div class="col-lg-6">
            <input type="text" name="nama" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Nama Pemilik Agen</div>
        <div class="col-lg-6">
            <input type="text" name="pemilik" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Alamat</div>
        <div class="col-lg-6">
            <textarea name="alamat" id="alamat" cols="30" rows="10" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Telpon</div>
        <div class="col-lg-6">
            <input type="text" name="telp" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Sub Kota</div>
        <div class="col-lg-6">
            <input type="text" name="subkota" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Lokasi</div>
        <div class="col-lg-6">
            <input type="text" name="lokasi" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <div class="col-lg-3 control-label">Tempat Keberangkatan</div>
        <div class="col-lg-2">
            <input type="radio" style="margin-top:10px;"> Ya
        </div>
        <div class="col-lg-2" style="margin-top:10px;">
            <input type="radio"> Tidak
        </div>
    </div>

    <div class="form-group well">
        <label for="" class="col-lg-3 control-label"></label>
        <div class="col-lg-7">
            <button class="btn btn-primary">
                <i class="glyphicon glyphicon-check"></i> Simpan
            </button>

            <a href="#agen" class="btn btn-danger"> Batal</a>
        </div>
    </div>
</div>